@media (max-width: 650px) {
  #info {
    grid-template-columns: 1fr 1fr;
  }
  img {
    width: 100%;
  }
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1em;
  }
}
@media (max-width: 450px) {
  #info {
    grid-template-columns: 1fr;
  }
}
